@font-face {
    font-family: 'Alex Brush';
    src: url('./assets/fonts/AlexBrush-Regular.woff2') format('woff2'),
        url('./assets/fonts/AlexBrush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('./assets/fonts/Cinzel-Regular.woff2') format('woff2'),
        url('./assets/fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Indie Flower';
    src: url('./assets/fonts/IndieFlower.woff2') format('woff2'),
        url('./assets/fonts/IndieFlower.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Journal';
    src: url('./assets/fonts/Journal.woff2') format('woff2'),
        url('./assets/fonts/Journal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Note this';
    src: url('./assets/fonts/Notethis.woff2') format('woff2'),
        url('./assets/fonts/Notethis.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100dvh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

    background-color: rgb(100, 100, 100);
}

.header-site {
    flex: 8%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;

    box-shadow: 1px 3px 5px black;

    .logo {
        padding: 0.1em;
        border: 2px solid white;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 4em;
    }

    h1 {
        margin-left: 0.5em;
        margin-right: auto;
        text-shadow: 1px 1px 2px white;
        font-family: "Cinzel", Arial, Helvetica, sans-serif;
    }

    background-color: rgb(22, 22, 22);
    color: white;

    .new-book-button {
        height: 3em;
        width: 10em;
        padding: 0.5em;
        background-color: darkgreen;
        color: white;
        border: 2px solid greenyellow;
        border-radius: 15px;
        font-size: 1rem;
        font-weight: 900;
        text-shadow: 1px 1px 1px whitesmoke;
        box-shadow: 2px 2px 4px green;
        cursor: pointer;
    }
}

.main-content-site {
    flex: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books-grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    h2 {
        padding: 1em;
        color: white;
        text-shadow: 1.5px 1.5px 1px black;
        font-family: "Cinzel", Arial, Helvetica, sans-serif;
    }
}

.cards-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    padding: 1em;
}

.card-item {
    max-height: 330px;
    max-width: 430px;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3em;
    padding: 1em;

    background-image: url("./assets/images/paper-2500942_1280.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgb(22, 22, 22);
}

.delete-button {
    align-self: end;
    margin-top: auto;
    padding: 0.5em;

    font-weight: 900;
    background-color: gray;
    border-color: black;
    border-radius: 50px;
    color: white;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}

.footer-site {
    flex: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;

    background-color: rgb(22, 22, 22);
    color: white;
    font-family: "Cinzel", Arial, Helvetica, sans-serif;
    font-weight: 900;
    box-shadow: 1px -3px 5px black;
}

/* Styles for read and unread books */
.read {
    border: 2px solid green;

    .read-button {
        margin-top: 0.5em;
        padding: 0.5em 1em;
        font-weight: 900;
        background-color: green;
        /* border-color: lightgreen; */
        border: 2px solid lightgreen;
        border-radius: 15px;
        color: white;
        text-shadow: 1px 1px 1px black;
        cursor: pointer;
    }
}

.unread {
    border: 2px dotted blue;

    .read-button {
        margin-top: 0.5em;
        padding: 0.5em 1em;
        font-weight: 900;
        background-color: blue;
        /* border-color: lightskyblue; */
        border: 2px solid lightskyblue;
        border-radius: 15px;
        color: white;
        text-shadow: 1px 1px 1px black;
        cursor: pointer;
    }
}

/* Styles for dynamic fonts */
.alex-brush {
    font-size: 1.5rem;
    font-family: "Alex Brush", Arial, Helvetica, sans-serif;
}

.indie-flower {
    font-size: 1.4rem;
    font-family: "Indie Flower", Arial, Helvetica, sans-serif;
}

.journal {
    font-size: 1.5rem;
    font-family: "Journal", Arial, Helvetica, sans-serif;
}

.note-this {
    font-size: 1.5rem;
    font-family: "Note This", Arial, Helvetica, sans-serif;
}

/* Form style */
.book-form {
    padding: 2rem 3rem;
    background-image: url("./assets/images/education-148605_1280.png");
    background-size: cover;
    background-position: center center;

    font-family: "Indie Flower", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;

    .form-title {
        font-size: 2rem;
    }

    .main-form-fieldset {
        margin: 3rem 2.5rem 1.5rem 2.5rem;
        border: none;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 2.5rem;

        div {
            display: flex;
            gap: 1rem;
        }

        input:not([type="radio"]) {
            flex: 1;
            background: none;
            border: none;
            font-family: "Indie Flower", Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /*Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        fieldset {
            padding-top: 0.5rem;
            border: none;
            display: flex;

            div {
                flex: 1;
            }
        }

        .submit-button-container {
            height: 5rem;
            background-image: url("./assets/images/gold-153031_1280.png");
            background-size: 75%;
            background-repeat: no-repeat;
            background-position: center center;
            display: flex;
            justify-content: center;

            .submit-button {
                border: none;
                width: 75%;
                background: none;
                cursor: pointer;

                font-family: "Cinzel", Arial, Helvetica, sans-serif;
                font-size: 1.5rem;
                text-shadow: 1px 1px 3px black;
            }
        }
    }
}